section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error__message {
  text-align: center;
}

.error__message h1 {
  font-size: 15rem;
}

.error__message p {
  font-size: 5rem;
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .error__message h1 {
    font-size: 10rem;
  }

  .error__message p {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .error__message h1 {
    font-size: 8rem;
  }

  .error__message p {
    font-size: 2.5rem;
  }
}
