.inicio__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.inicio__text h2 {
  font-weight: 400;
  font-size: 4rem;
}
.inicio__text span {
  margin-left: 10px;
}

.inicio__text h1 {
  font-weight: 500;
  font-size: 7.5rem;
}

.inicio__text p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
  max-width: 90%;
}

@media screen and (max-width: 900px) {
  .inicio__item {
    height: auto;
    min-height: 100vh;
    padding: 12rem 0 5rem 0;
    overflow-y: auto;
  }

  .inicio__text {
    width: 90%;
    margin: 0 auto;
  }

  .inicio__text h2 {
    font-size: 2.4rem;
  }

  .inicio__text h1 {
    font-size: 5.5rem;
    font-weight: 500;
  }

  .inicio__text p {
    font-size: 1.8rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .inicio__item {
    padding: 10rem 0 5rem 0;
  }

  .inicio__text {
    width: 90%;
    margin: 0 auto;
  }

  .inicio__text h1 {
    font-size: 3.2rem;
  }
  .inicio__text h2 {
    font-size: 1.8rem;
  }
  .inicio__text p {
    font-size: 1.6rem;
  }
}
