.inicio__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.inicio__text h2 {
  font-weight: 400;
  font-size: 4rem;
}
.inicio__text span {
  margin-left: 10px;
}

.inicio__text h1 {
  font-weight: 500;
  font-size: 7.5rem;
}

.inicio__text p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
  max-width: 90%;
}

@media screen and (max-width: 900px) {
  .inicio__text h2 {
    font-size: 2rem;
  }

  .inicio__text h1 {
    font-size: 5rem;
    font-weight: 500;
  }

  .inicio__text p {
    font-size: 1.5rem;
    text-align: justify;
  }
}

@media screen and (max-width: 500px) {
  .inicio__text h1 {
    font-size: 2.8rem;
  }
  .inicio__text h2 {
    font-size: 1.5rem;
  }
}
