.header {
  background: red;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background: transparent;
  z-index: 9999;
}

.header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 5rem;
  color: white;
  font-weight: 500;
}

.menu__desktop ul {
  display: flex;
}

.menu__desktop li + li {
  margin-left: 30px;
}

.menu__desktop a {
  font-size: 1.6rem;
  position: relative;
  transition: 0.3s;
}

@keyframes efeitoHeader {
  to {
    transform: initial;
    opacity: initial;
  }
}

.active {
  color: #00aeff;
}

.menu__desktop a:hover {
  color: #00aeff;
}
