.sobre__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sobre__text h1 {
  font-weight: 600;
  font-size: 8rem;
}

.sobre__text p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
  max-width: 80%;
}

.sobre__img {
  position: relative;
}

.sobre__img img {
  max-width: 300px;
  border-radius: 4px;
}

.sobre__img::after {
  content: '';

  border-radius: 4px;
  background: linear-gradient(180deg, rgba(17, 17, 24, 0.3), rgb(17, 17, 24));
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  body {
    overflow: initial;
  }

  .sobre {
    height: auto;
  }

  .sobre__item {
    flex-direction: column;
  }

  .sobre__text {
    margin: 0 auto;
    max-width: 80%;
  }

  .sobre__text h1 {
    margin-top: 15rem;
    font-size: 3.5rem;
    font-weight: 500;
  }

  .sobre__text p {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 15px;
    max-width: 100%;
  }

  .sobre__text a {
    font-size: 1.5rem;
  }

  .sobre__img img {
    max-width: 250px;
    margin-top: 50px;
  }
}
