.repositorios {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.repositorios__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.repositorios__box {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 400px;
  border-radius: 10px;
  height: auto;
  padding: 10px;
}

.next-section-repo {
  margin-top: 30px;
}

.repo__desc img {
  width: 90px;
  border-radius: 50%;
}

/* ESTILOS DO BOX */

.repo__stats {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.repo__name a {
  display: flex;
  align-items: center;
  color: #58a6f0;
  font-weight: 600;
  font-size: 1.5rem;
}

.repo__name a i {
  margin-right: 10px;
  color: #ccc;
}

.repo__name p {
  font-size: 1.2rem;
}

.stats__content {
  display: flex;
}

.stats__content p {
  margin-right: 30px;
}

.stats__content span {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 200;
}

.stats__content span i {
  font-size: 1.6rem;
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.repo__stats a {
  font-size: 1.2rem;
  color: #f8f8f8;
}

.repositorios h1 {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
  .repositorios {
    height: auto;
    padding: 10rem 0 5rem 0;
  }

  .repositorios__item {
    grid-template-columns: 1fr;
  }

  .repositorios h1 {
    font-size: 2.5rem;
    font-weight: 200;
  }

  .repositorios__box {
    width: 100%;
  }
}
